* {
    margin: 0%;
    padding: 0%;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
}

.image {
    flex: 1;
    background-color: #d1e7e0;
    position: relative;
    overflow: hidden;
    display: flex;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex: 1;
}

.login {
    padding: 40px;
    flex: 1;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
}

body {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}

h1 {
    margin-top: 15%;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.login-body {

    width: 100%;
}

.label {
    font-size: 1rem;
    margin-bottom: 10px;
}

.inputs {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
}

button:hover {
    background-color: #bbb;


}
.google-btn {
    background-color: #db4437;
    margin-top: 5px;
}

.google-btn:hover {
    background-color: #c33d2b;
}
.facebook-btn {
    background-color: #3b5998;
    margin-top: 10px;
}

.facebook-btn:hover {
    background-color: #2d4373;
}

p {
    margin-top: 15px;
    font-size: 0.8rem;
}
.header {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 0px;
}
.close-btn{
    font-size: 28px;
    cursor: pointer;
}


