@media (max-width: 768px) {
    .registration-form{
        width: 100%;
        margin: 0 auto;
        padding: 10px;
        display: block;
    }
 
    .header{
        display: block;
        width: 100%;
    }
   

 
    input[type="text"], input[type="email"], input[type="password"] {
        width: 100%;
        font-size: 16px;
        padding: 10px;
    }

   
    button {
        width: 100%;
        font-size: 18px;
        padding: 12px;
    }
 
    h1 {
        font-size: 24px;
        text-align: center;
    }


    .icon{
        width: 80px;
        height: 80px;
        margin: 0 auto;
        display: block;
    }
}